{{#> layout}}
    {{#*inline "body"}}
        <h2>Password Changed Successfully</h2>
        
        <p>Hello {{name}},</p>
        
        <p>Your RentEase account password has been successfully changed.</p>
        
        <div class="info-box">
            <p><strong>If you made this change:</strong> You're all set! You can now log in with your new password.</p>
            <p><strong>If you didn't make this change:</strong> Please contact our support team immediately at <a href="mailto:{{supportEmail}}">{{supportEmail}}</a>.</p>
        </div>
        
        <center>
            <a href="{{loginUrl}}" class="button">Log In to Your Account</a>
        </center>
        
        <p>For your security, we recommend:</p>
        <ul>
            <li>Using a strong, unique password</li>
            <li>Never sharing your password with anyone</li>
            <li>Enabling two-factor authentication</li>
        </ul>
        
        <p>Thanks,<br>The RentEase Team</p>
    {{/inline}}
{{/layout}}