{{#> layout}}
    {{#*inline "body"}}
        <h2>Welcome to RentEase, {{name}}! 🎉</h2>
        
        <p>We're thrilled to have you on board! RentEase is your one-stop destination for renting furniture and appliances without the hassle of buying.</p>
        
        <div class="info-box">
            <h3>What you can do with RentEase:</h3>
            <ul>
                <li>Browse thousands of products</li>
                <li>Rent furniture and appliances monthly</li>
                <li>Flexible rental plans (3, 6, or 12 months)</li>
                <li>Free delivery and pickup</li>
                <li>Professional maintenance support</li>
            </ul>
        </div>
        
        <p>Ready to get started? Explore our collection and find the perfect items for your space!</p>
        
        <center>
            <a href="{{exploreUrl}}" class="button">Explore Products</a>
        </center>
        
        <p>If you have any questions, our support team is always here to help.</p>
        
        <p>Happy Renting!<br>The RentEase Team</p>
    {{/inline}}
{{/layout}}